ENVIRONMENT=development

DATABASE_URL=postgresql+asyncpg://user:password@localhost:5432/chessalytics
TEST_DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5432/chessalytics_test
DB_ECHO=false

GOOGLE_OAUTH_CLIENT_ID=
GOOGLE_OAUTH_CLIENT_SECRET=